@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../../fonts/eduVPN/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), url("../../fonts/eduVPN/OpenSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), url("../../fonts/eduVPN/OpenSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold Italic"), url("../../fonts/eduVPN/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ededed;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
}

a, summary {
  color: #216aed;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button, input, textarea, select {
  font-family: inherit;
  font-size: 1em;
  line-height: inherit;
}

pre, code {
  font-size: 125%;
  /* XXX font size?! */
}

summary {
  margin: 0.5em 0;
}

button, summary {
  cursor: pointer;
}

header {
  background-color: #222;
}

header form.logout {
  display: inline;
  margin: 0;
}

header form.logout button {
  color: #fff;
  background-color: #222;
  border: 0;
  font-weight: bold;
  padding: 0 0 0 0.5em;
}

nav {
  background-color: #fff;
  background-image: url("../../img/eduVPN/logo.png");
  background-repeat: no-repeat;
  background-size: 169px 50px;
  background-position: 2% 50%;
  padding: 1em 0 1em 15em;
  min-height: calc(50px + 2em);
}

nav:lang(ar-MA) {
  background-position: 98% 50%;
  padding: 1em 15em 1em 0;
}

nav ul {
  margin: 0 auto;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  padding: 0;
  margin: 1em;
}

nav ul li a {
  padding-bottom: 0.5em;
  color: #216aed;
  font-weight: bold;
}

nav ul li.active a {
  color: #216aed;
  font-weight: bold;
  border-bottom: 4px solid #216aed;
}

nav ul li a:hover {
  text-decoration: none;
  color: #216aed;
}

header {
  text-align: end;
  padding: 0 1em;
}

header ul.languageSwitcher {
  margin: 0 1em;
  display: inline-block;
}

header ul.languageSwitcher li {
  display: inline-block;
}

header ul.languageSwitcher button {
  border: 0;
  color: #fff;
  background-color: #222;
  padding: 0.5em;
}

footer {
  background-color: #222;
}

footer p {
  margin: 0;
  padding: 1em;
  text-align: center;
  color: #fff;
}

form.frm label {
  margin: 1em 0 0.3em 0;
  font-weight: bold;
  display: block;
}

form.frm button {
  margin: 1em 0;
}

form.frm {
  margin: 1em auto;
  width: 100%;
}

form.frm select, form.frm input[type=text], form.frm input[type=password], form.frm textarea {
  width: 100%;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

table.tbl {
  width: 100%;
  border: 1px solid #ddd;
  /* XXX color! */
  border-radius: 0.5em;
  padding: 0.5em;
}

table.tbl th {
  text-align: start;
}

table.tbl td.text-right {
  text-align: end;
}

table.tbl td, table.tbl th {
  padding: 0.5em;
}

table.tbl th {
  vertical-align: top;
}

table.tbl ul {
  margin: 0;
  padding: 0 0 0 1em;
}

main h1 {
  background-color: #e24301;
  color: #fff;
  text-align: center;
  padding: 1em 0 4em 0;
  margin: 0;
}

main div.content {
  min-height: 75vh;
}

main div.content h1 {
  /* hide the h1 in the div.content for now until it is removed from the 
       templates... */
  display: none;
}

main div.content {
  max-width: 60em;
  border-radius: 1em 1em 0 0;
  padding: 1em;
  margin: -5em auto 0 auto;
  background-color: #fff;
}

main div.content button {
  border: 0;
  border-radius: 2em;
  color: #fff;
  background-color: #216aed;
  padding: 0.8em 2em;
  font-weight: bold;
}

main div.content button.warning {
  background-color: #ff9900;
}

p.warning, p.error, p.plain {
  padding: 1.5em;
  border-radius: 0.5em;
}

p.plain {
  color: #505050;
  background-color: #ededed;
}

span.plain, span.success, span.error {
  padding: 0.5em;
  border-radius: 0.5em;
  font-weight: bold;
  display: inline-block;
}

span.plain {
  color: #505050;
  background-color: #ededed;
}

span.success {
  color: #fff;
  background-color: #16a566;
}

span.error {
  color: #fff;
  background-color: #ed3415;
}

p.warning {
  color: #fff;
  background-color: #ff9900;
}

p.error {
  color: #fff;
  background-color: #ed3415;
}

main div.content input, main div.content select, main div.content textarea {
  border: 1px solid #ddd;
  /* XXX color for border! */
  border-radius: 0.5em;
  padding: 0.8em;
}

main div.auth {
  margin: 0 auto;
  max-width: 20em;
}

main div.auth input {
  display: block;
  margin: 1em 0;
  width: 100%;
}

ul.profileList {
  list-style: none;
  padding: 0;
}

dl dt {
  font-weight: bold;
}

svg.appUsage {
  display: block;
  margin: 1em auto;
  width: 30%;
}

ul.appUsage {
  margin-top: 0.5em;
  list-style: none;
  padding: 0;
}

ul.appUsage li {
  display: inline-block;
  margin: 0.5em;
}

.pieLegend {
  color: #fff;
  font-weight: bold;
  padding: 0.3em;
  margin: 0.3em;
}

/* @see https://learnui.design/tools/data-color-picker.html#palette */
.pieColor1 {
  fill: #003f5c;
  background-color: #003f5c;
}

.pieColor2 {
  fill: #2f4b7c;
  background-color: #2f4b7c;
}

.pieColor3 {
  fill: #665191;
  background-color: #665191;
}

.pieColor4 {
  fill: #a05195;
  background-color: #a05195;
}

.pieColor5 {
  fill: #d45087;
  background-color: #d45087;
}

.pieColor6 {
  fill: #f95d6a;
  background-color: #f95d6a;
}

.pieColor7 {
  fill: #ff7c43;
  background-color: #ff7c43;
}

.pieColor8 {
  fill: #ffa600;
  background-color: #ffa600;
}

blockquote {
    margin: 1em 0;
    padding: 1em;
    background-color: #ededed;
    border-left: 0.4em solid #e24301;
    border-radius: 0 0.5em 0.5em 0;
}
